<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Happenings</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Catamaran&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>
  <body class="bg-gray-800 text-white">
    <div class="container flex flex-1 flex-col gap-4">
      {{ template "index.html" . }}
    </div>
    
  </body>
</html>