{{template "header.html" .}}

<nav class="flex flex-col sm:flex-row gap-y-4 sm:gap-x-4 border border-gray-700 rounded-lg p-4">
  <img class="avatar self-center" src="/assets/img/portraits/{{.Character.ID}}.png"/>
  <h1 class="inline self-center mb-0 text-2xl">{{ .Character.Name }}</h1>
  <span class="grid grid-cols-3 sm:flex sm:flex-1 sm:flex-row-reverse gap-x-2">
    {{ range .Character.Attributes }}
      <span class="self-center text-gray-400">{{ .ShortName }} <strong class="text-xl">{{ .Value}}</strong>/100</span>
    {{ end }}
  </span>
  
</nav>

{{template "decision-card.html" .}}
{{template "game-card.html" .}}

{{template "footer.html" .}}