<div class="border border-gray-700 rounded-lg p-4 flex flex-1 flex-col gap-3">
  <div class="row text-center">
    <span class="flex-1">Day <span class="text-xl">10</span></span>
  </div>
  <div class="flex items-center justify-center gap-4">
    <img class="flex-initial avatar" src="/assets/img/portraits/ellie.png"/>
    <span class="flex-1"><strong>Ellie</strong> Description. Lorem ipsum dolor sit amet, hello, hello, Lorem ipsum dolor sit amet. Description. Lorem ipsum dolor sit amet, hello, hello, Lorem ipsum dolor sit amet.</span>
  </div>
  <div class="row text-center">
      <span class="text-green-400">100 HIT</span>, 32 PWR
  </div>
</div>