<div class="flex-none card list">
  <header class="mb-4">
    <img class="portrait" src="/assets/img/portraits/{{.ID}}.png"/>
    <h2>{{.Name}}</h2>
  </header>
  <p>{{.Description}}</p>
  <div class="grid stat-container">
    
    <div class="grid grid-cols-4 gap-x-4">
      {{ range .Attributes }}
        <div data-tippy-content="{{.Name}} - {{.Description}}"><strong>{{.ShortName}}</strong></div>
        <div class="text-right">{{.Value}}</div>
      {{ end }}
    </div>
  </div>

  <footer class="mt-6">
    <a href="/start/{{ .ID }}" class="w-full rounded px-3 py-1 border border-red-400 text-red-400 inline-block text-center hover:border-red-600 hover:text-red-600 transition">Start</a>
  </footer>
</div>